extends layout

block content
  div.container
    p AsiStudents aim is to allow the student to find out everything they needs via natural languages means.

    if !locals.identity
      p Before we continue, we need to know who you are so we can get your student data for you.
      a.btn.btn-lg.btn-outline-primary(href=locals.loginLink) Log in
    else
      a.btn.btn-lg.btn-outline-primary(href='/chat/') Start chatting
