extends layout

block content
  #view-change-button.button.hide.d-none.d-md-flex(onclick='PayloadPanel.togglePanel(event, this)')
    img.option.full(src='../img/Chat Button.png')
    img.option.not-full(src='../img/Code Button.png')
  #contentParent.responsive-columns-wrapper
    #chat-column-holder.responsive-column.content-column
      .chat-column
        #scrollingChat
        p#user-typing-field.user-typing
        label.inputOutline(for='textInput')
          input#textInput.input.responsive-column(placeholder='Type something', type='text', onkeydown='ConversationPanel.inputKeyDown(event, this)', autofocus='')
    #payload-column.fixed-column.content-column.hide.d-none.d-md-flex
      #payload-initial-message
        | Type something to see the output
      #payload-request.payload
      #payload-response.payload

block scripts
  script(src='/js/common.js')
  script(src='/js/api.js')
  script(src='/js/conversation.js')
  script(src='/js/payload.js')
  script(src='/js/global.js')
  script(src='/js/chatDebug.js')
