extends layout

block content
  div.containe-fluid
    h3.text-center Chat
    div.messaging
      div.mesgs
        div.msg_history
          div.incoming_msg
            div.incoming_msg_img
              img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
            div.received_msg
              div.received_withd_msg
                p Jsem AsiStudent, co jsi ty?
                span.time_date 11:01 AM    |    June 9
          div.outgoing_msg
            div.sent_msg
              p Já jsem zase asi student, haha
              span.time_date 11:01 AM    |    June 9
          div.form-group
            input.form-control(id='textInput', placeholder='Type something', type='Type something')
          button.btn.btn-primary(type="submit") Submit
